@charset "UTF-8";
.info_lists {
    position: relative;
    padding: 30px;
    background: #fff;
    border-radius: 4px;
    border: 1px solid #eaeaea;
}

.validAlert{
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: red;
}

.info_lists1 {
    position: relative;
    padding: 15px;
    background: #fbf9f9;
    border-radius: 4px;
    border: 1px solid #eaeaea;
    margin-bottom: unset;
}



.modal-body {
	margin: auto;
	padding: 5%;
}

.yanoljaMainLogo{
	width:92px;
	height:32px;
	background: url(https://yaimg.yanolja.com/joy/pw/common/icon-comm.svg) -55px -12px;
	cursor: pointer;
	margin-top: 10px;
}


.radi_button {
	margin-top: 25px;
	width: 100%;
	background: #fc7093;
	display: block;
	padding: 10px 0;
	font-size: 13px;
	color: #fefefe;
	font-weight: 600;
	height: 50px;
	font-size: 16px;
}

#nav-tabs{
	padding-left: 750px;
}

.nav-tabsHead {
    padding-top: 50px;
    padding-left: 130px;
    padding-right: 10px;
    font-size: 18px;
    color: #444;
    font-weight: bold;
}

#modalTitle {
	text-align: left;
}

.mypageTableDiv {
	padding: 2%;
    background: #f5f5f5;
}

.mypageTable {
	background: #ff5f81;
	vertical-align: middle;
	color: white;
	margin: auto;
	text-align: center;
}

#mainContent {
	left: 25%;
	padding-bottom: 5%;
}

#mainheader {
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;
	min-height: calc(70vh - 10px);
}

.loginBox {
	padding-top: 100px;
	min-height: 500px;
}

.joinBox {
	padding-bottom: 50px;
}

.loginHead {
	margin-bottom: 40px;
	color: #444;
	font-size: 34px;
	text-align: center;
}

.inputData {
	display: block;
	margin: auto;
	width: 450px;
	height: 26px;
	border: 1px solid #ccc;
	padding: 25px;
	margin-bottom: 15px;
}

.hjButton { -
	-webkit--background: linear-gradient(top, #ff4143, #ff1764);
	background: linear-gradient(top, #ff4143, #ff1764);
	background: #ff4143;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0, #ff4143),
		color-stop(100%, #ff1764));
	bottom: 0;
	left: 0;
	margin: auto;
	width: 450px;
	height: 60px;
	margin-top: 30px;
	padding: 20px;
	text-align: center;
	font-size: 18px;
	color: #fff;
	text-decoration: none;
	cursor: pointer;
}

.footer_container {
	background-color: #252425;
	font-size: 13px;
	position: relative;
	width: 100%;
	height: 20%;
	float: left;
	padding-top: 30px;
	padding-left: 450px;
	color: #fff;
	text-align: left;
	font-family: 'NanumSquare';
}

#mainNav {
    padding-left: 30px;
    height: 70px;
    border-bottom: none;
    padding-top: 15px;
}

#myLocationAddress {
	font-size: 18px;
	margin-bottom: 15%;
}

#myLocationAddressImage {
	margin-left: 35%;
	float: left;
}

#mainBanner {
	position: absolute;
	top: 20;
	left: 0;
	width: 100%;
}

#logo_btn {
	float: left;
}

#mainInput {
	padding-top: 10px;
	background-color: white;
	text-align: center;
	font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic",
		"NanumBarunGothic", sans-serif !important;
}

#accom_type {
	width: 300px;
	height: 120px;
	float: left;
	color: #484848;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;
}

#accom_addr {
	width: 300px;
	height: 120px;
	float: left;
	color: #484848;
	display: inline-block;
	font-size: 16px;
	border: none;
	border-right: 0px;
	border-top: 0px;
	boder-left: 0px;
	boder-bottom: 0px;
}

#checkinDate {
	width: 180px;
	height: 120px;
	float: left;
	color: #484848;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}

#checkoutDate {
	width: 180px;
	height: 120px;
	float: left;
	color: #484848;
	display: inline-block;
	text-align: center;
	font-size: 16px;
}

#accomSelect {
	height: 85px;
	color: #222;
	font-size: 26px;
	text-align: center;
	border: 0;
}

#accomAddr {
	height: 85px;
	color: #222;
	font-size: 26px;
	border: 0;
}

#checkin_date {
	height: 85px;
	color: #222;
	font-size: 15px;
	border: 0;
}

#checkout_date {
	height: 85px;
	color: #222;
	font-size: 15px;
	border: 0;
}

.ya_cusor {
	font-size: 16px;
	color: #666;
	margin-left: 17px;
}

.ya_cusor:hover {
	text-decoration: none;
	color: #ED006D;
}

.ya_logo:hover {
	font-size: 25px;
	color: #ED006D;
	text-decoration: none;
}

.nav_left {
	color: #666666;
	font-size: 16px;
	margin-left: 17px;
	margin-top: 10px;
	float: left;
}

.nav_right {
	color: #666666;
	font-size: 16px;
	margin-right: 55px;
	margin-top: 10px;
	float: right;
}

.centered-left1 {
	position: absolute;
	top: 20%;
	font-size: 60px;
	color: #ffffff;
	margin-left: 12%;
}

.centered-left2 {
	position: absolute;
	top: 30%;
	font-size: 60px;
	color: #ffffff;
	margin-left: 12%;
}

.centered-left3 {
	position: absolute;
	top: 45%;
	color: #000000;
	margin-left: 12%;
}

.btn-search-stay {
	color: #fff;
	font-size: 24px;
	position: absolute;
	top: 0;
	width: 215px;
	height: 131px;
	text-rendering: auto;
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #ff493d),
		color-stop(100%, #ff1069));
	font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic",
		"NanumBarunGothic", sans-serif !important;
}